@import url("reset.css");

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

#boardroom-settings {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#equipment-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
